.button {
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 30px;
  display: inline-block;
  transition: background .3s;

  background: #ffffff;
  border: 1px solid #b9b9b9;
  color: #000000;

  &:disabled{
    background: #e4e4e4;
    cursor: default;
  }
}
